<nav>
  <ul>
    <li><a href="http://localhost:8000/question1">Q1</a></li>
    <li><a href="http://localhost:8000/question2">Q2</a></li>
    <li><a href="http://localhost:8000/question3">Q3</a></li>
    <li><a href="http://localhost:8000/question4">Q4</a></li>
    <li><a href="http://localhost:8000/question5">Q5</a></li>
    <li><a href="http://localhost:8000/question6">Q6</a></li>
    <li><a href="http://localhost:8000/question7">Q7</a></li>
    <li><a href="http://localhost:8000/question7">Q8</a></li>
    <li><a href="http://localhost:8000/question7">Q9</a></li>
  </ul>
</nav>
